body {
  background-image: url("https://webgradients.com/public/webgradients_png/089%20Premium%20White.png");
  background-size: auto 100vh;
  font-family: Roboto;
}

.menu {
  background-color: black;
  height: 60px;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: underline;
}

.site-title {
  text-align: center;
}

.site-subtitle {
  text-align: center;
  font-size: 16px;
}

.avatar {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 60px;
   margin-bottom: 20px;
}